/*GENERAL*/


body {
    margin:0;
    padding:0;
    background-color:#f3e5d8;
    font-family:sans-serif;

}

a {
    text-decoration: none;
    color:#000;
}

button:focus {
    outline:none;
}

h1, h2 {
    text-transform:uppercase;
}

header {
    width:100%;
    background-color:#f7f7f7;
}

nav {
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0em 1em;
}

nav a, nav h1 {
    display:inline-flex;
}

nav i {
    color:#2800a0;
}

.searchBar {
    display:flex;
    position:relative;
}

.searchBar input[type="search"] {
    width:100%;
    border-radius:.5em;
    font-size:1em;
    padding:.5em;
    padding-left:1em;
    border:0.1em solid rgba(0,0,0,0.3);
    border-right:0em;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    outline:none;
}

.searchBar i {
    color:#ffffff;
}

.searchBar button {
    width:7em;
    border-radius:.5em;
    font-size:1em;
    padding:.5em;
    border:none;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    text-transform:uppercase;
    font-size:.7em;
    background-color: #ff3268;
}

.searchBar button:focus {
    background-color:#ca2b55;
}
.sort {
    position:relative;
}

.sort select {
    width:100%;
    border-radius:.5em;
    font-size:1em;
    height:2em;
    border:0.1em solid rgba(0,0,0,0.3);
    outline:none;
    margin-top:.5em;
    text-transform:lowercase;
    border-bottom:0.2em solid rgba(0,0,0,0.3);
    padding-left:1em;


    /*REMOVE STANDARD ICON*/
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.sort i {
    position:absolute;
    right:1em;
    top:0em;
    pointer-events: none;
    color:rgba(0,0,0,0.3);
}

.container {
    margin:auto;
    padding:1em;
}

.container article .header{
    width:100%;
    box-sizing: border-box; /*Zorgt ervoor dat de padding de breedte van de box niet buiten zijn parent duwt, kijk maar wat er gebeurd zonder*/
    border-top-right-radius:1em;
    border-top-left-radius:1em;
    display:inline-flex;
    align-items:center;
    justify-content:space-between;
    padding:0em 1em;
    color:#ffffff;
}

.container article > .lvl1 {
    background-color:#ff3268;
}

.container article > .lvl1::before{
    content:"1";
    display:flex;
    min-width:2em;
    min-height:2em;
    border:0.15em solid #ffffff;
    border-radius:0.5em;
    justify-content:center;
    align-items: center;
}

.container article > .lvl2 {
    background-color:#00d66c;
}

.container article > .lvl2::before{
    content:"2";
    display:flex;
    min-width:2em;
    min-height:2em;
    border:0.15em solid #ffffff;
    border-radius:0.5em;
    justify-content:center;
    align-items: center;
}

.container article > .lvl3 {
    background-color:#2800a0;
}

.container article > .lvl3::before{
    content:"3";
    display:flex;
    min-width:2em;
    min-height:2em;
    border:0.15em solid #ffffff;
    border-radius:0.5em;
    justify-content:center;
    align-items: center;
}

.container article .post{
    padding:1em;
}

.container .posts article { /*Je hebt geen nth-of-type nodig voor algemene styling, alleen wanneer je uitzonderingen/variatie wilt maken*/
    margin-top:1em;
    border-radius:1em;
    background-color:#ffffff;
}

.readBtn {
    display:flex;
    width:25%;
    min-width:8em;
    border-radius:1.5em;
    font-size:1em;
    height:2em;
    margin:1.5em auto 1.5em auto;
    text-transform:lowercase;
    padding-left:1em;

}

.readPink {
    background-color:#ff3268;
    color:#ffffff;
    border:0em solid rgba(0,0,0,0.3);
    border-bottom:0.2em solid #ca2b55;

}

.readPink:active {
    background-color:#ca2b55;
}

.readGreen {
    background-color:#00d66c;
    color:#ffffff;
    border:0em solid rgba(0,0,0,0.3);
    border-bottom:0.2em solid #1e9162;

}

.readGreen:active {
    background-color:#1e9162;
}


/* MOBILE */
@media screen and (min-width: 0px) and (max-width: 639px) {

}
/* TABLET */
@media screen and (min-width: 640px) and (max-width: 959px) {

}
/* DESKTOP */
@media screen and (min-width: 960px) {

}